nohup.out
*.[oa]
*.ex
*.ex.dSYM
*.exe
*.png
*.exe.dSYM
*~
build/
tmp_build_dir/
d/
f/
o/
t/
TAGS

# latex
*.aux
*.log
*.bbl
*.toc
*.dvi
*-eps-converted-to.pdf

# python
*.pyc

.DS_Store

.nfs*

# vi
*.sw[a-z]

# catalyst/libsim

*.vth
*.vti
*.vtr
*.vtp
*.pvtp
*.pvd
*.visit
*.pvsm

plt*
chk*

Backtrace*
core.*
slurm*out
*.i90

Src/AMReX_buildInfo.cpp
Src/compile_commands.json
amrex-kitchen/
compile_commands.json
*.dat
*.gif
mpi*.txt
*tmp*
*.pdf
*.gv
*.mp4
*.avi

RJICF/Data/*
RJICF/laminar1D*/*
RJICF/initeq.dat
